main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
}

.logo {
  grid-column: 3;
  grid-row: 3;
  max-width: cover;
  place-content: center;
}
.text1 {
  display: grid;
  grid-column: 1/4;
  grid-row: 1;
  justify-content: end;
  margin-top: 200px;
  color: #657068;
  font-size: 3rem;
  border-color: #657068;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 0.5rem;
}

.text2 {
  grid-column: 4/7;
  grid-row: 2;
  color: #657068;
  font-size: 3rem;
  margin-top: 10px;
  max-height: 60px;
  margin-right: 10px;
  border-color: #657068;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 0.5rem;
}

footer {
  margin-top: -120px;
}

@media (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .logo {
    grid-column: 3;
    grid-row: 3;
    max-width: 90%;
    place-content: center;
  }
  .text1 {
    display: grid;
    grid-column: 1/4;
    grid-row: 1;
    justify-content: end;
    margin-top: 200px;
    color: #657068;
    font-size: 5rem;
    border-color: #657068;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 0.5rem;
  }

  .text2 {
    grid-column: 4/11;
    grid-row: 2;
    color: #657068;
    font-size: 5rem;
    max-height: 100px;
    border-color: #657068;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 0.5rem;
  }
  footer {
    margin-top: -20px;
  }
}
