@font-face {
  font-family: input;
  src: url(/fonts/Input-Regular_\(InputMonoNarrow-Light\).woff2);
}
@font-face {
  font-family: input bold;
  src: url(/fonts/Input-Bold_\(InputMonoNarrow-Medium\).woff2);
}

/*menu stylning*/

.menu {
  opacity: 0%;
  max-width: 100%;
  max-height: 100%;
  background: #657068;
  transition: 0.2s;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

a {
  color: #d9d1cc;
  font-family: input;
}

.menu.-open {
  opacity: 0.9;
  height: 900px;
  display: flex;
}

.menu ul {
  list-style: none;
}

.menu li {
  margin: 20px 0;
}

@media (min-width: 1200px) {
  .menu.-open {
    height: 1080px;
  }
}

/* knap*/

.button {
  position: absolute;
  top: 20px;
  left: 20px;
  box-sizing: border-box;
  height: 36px;
  cursor: pointer;
  z-index: 2;
}
.button svg {
  stroke: #657068;
  transition: 0.2s;
}
.button svg g:first-child {
  opacity: 1;
  transition: opacity 0s 0.2s;
}
.button svg g:first-child line {
  transition: transform 0.2s 0.2s;
  transform: translateY(0px);
}
.button svg g:last-child {
  opacity: 0;
  transition: opacity 0s 0.2s;
}
.button svg g:last-child line {
  transition: transform 0.2s;
  transform: rotate(0deg);
  transform-origin: center;
}
.button.-menu-open svg {
  stroke: #d9d1cc;
}
.button.-menu-open svg g:first-child {
  opacity: 0;
}
.button.-menu-open svg g:first-child line {
  transition: transform 0.2s;
}
.button.-menu-open svg g:first-child line:first-child {
  transform: translateY(7px);
}
.button.-menu-open svg g:first-child line:last-child {
  transform: translateY(-7px);
}
.button.-menu-open svg g:last-child {
  opacity: 1;
}
.button.-menu-open svg g:last-child line {
  transition: transform 0.2s 0.2s;
}
.button.-menu-open svg g:last-child line:first-child {
  transform: rotate(45deg);
}
.button.-menu-open svg g:last-child line:last-child {
  transform: rotate(-45deg);
}
